# **<h1 align="center">Data Mining 2024-25</h3>**
## **<h3 align="center">Customer Segmentation - ABCDEats Inc.</h3>**
### **<h3 align="center">Clustering</h3>**


**Group 10 members:**<br>Alexandra Pinto - 20211599@novaims.unl.pt - 20211599<br>
Marco Galão  - r20201545@novaims.unl.pt - r20201545<br>
Sven Goerdes - 20240503@novaims.unl.pt - 20240503<br>
Tim Straub  - 20240505@novaims.unl.pt - 20240505<br>

<a id = "toc"></a>

# Table of Contents

* [1. Import the Libraries](#import_libraries)
* [2. Import the Dataset](#import_dataset)
* [3. Clustering](#clustering)
    * [3.1 SOM](#som)
    * [3.2 RFM](#rfm)
    * [3.3 Mean Shift](#mean_shift)
    * [3.4 Hierarchical Clustering](#hierarchical_clustering)
    * [3.5 K-medoids](#k_medoids)
    * [3.6 DBSCAN](#dbscan)

# 1. Import the Libraries <a class="anchor" id="import_libraries"></a>
[Back to ToC](#toc)<br>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import math

import warnings
warnings.filterwarnings("ignore")

# 2. Import the Dataset <a class="anchor" id="import_dataset"></a>
[Back to ToC](#toc)<br>

In this section, we import the preprocessed dataset and set the customer_id as the index column. Also, check the first and last 5 rows of the dataset.

In [3]:
df_preprocessed = pd.read_csv("../Data/Preprocessed_Data.csv", index_col="customer_id")
df_preprocessed.head().T

customer_id       1b8f824d5e f6d1b2ba63 180c632ed8 4eb37a6705 6aef2b6726
customer_region         2360       4660       4660       4660       8670
customer_age              18         38         26         20         40
vendor_count               2          1          2          2          2
product_count              5          2          3          5          2
chain_orders               1          2          1          0          0
...                      ...        ...        ...        ...        ...
avg_daily_orders    0.022222   0.022222   0.022222   0.022222   0.022222
avg_order_value        14.44        4.6      15.78      27.72      12.46
promo_used                 1          1          1          0          1
chain_orders_prop        0.5        1.0        0.5        0.0        0.0
city                       2          4          4          4          8

[70 rows x 5 columns]

In [4]:
df_preprocessed.tail().T

customer_id       f4e366c281 f6b6709018 f74ad8ce3f f7b19c0241 fd40d3b0e0
customer_region         8670       8670       8670       8670       4660
customer_age              30         26         24         34         30
vendor_count               1          1          1          1          1
product_count              1          1          1          1          1
chain_orders               1          0          1          0          0
...                      ...        ...        ...        ...        ...
avg_daily_orders    0.011111   0.011111   0.011111   0.011111   0.011111
avg_order_value        18.04      18.04      17.79      12.03       7.91
promo_used                 1          1          0          1          0
chain_orders_prop        1.0        0.0        1.0        0.0        0.0
city                       8          8          8          8          4

[70 rows x 5 columns]

# 3. Clustering <a class="anchor" id="clustering"></a>
[Back to ToC](#toc)<br>

> ## 3.1 SOM <a class="anchor" id="som"></a>
[Back to 3. Clustering](#clustering)<br>

> ## 3.2 RFM <a class="anchor" id="rfm"></a>
[Back to 3. Clustering](#clustering)<br>

> ## 3.3 Mean Shift <a class="anchor" id="mean_shift"></a>
[Back to 3. Clustering](#clustering)<br>

> ## 3.4 Hierarchical Clustering <a class="anchor" id="hierarchical_clustering"></a>
[Back to 3. Clustering](#clustering)<br>

> ## 3.5 K-medoids <a class="anchor" id="k_medoids"></a>
[Back to 3. Clustering](#clustering)<br>

> ## 3.6 DBSCAN <a class="anchor" id="dbscan"></a>
[Back to 3. Clustering](#clustering)<br>